<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<link href="_asset/style.css" rel="stylesheet">
<script src="_asset/script.js"></script>
</head>
<body>

<header class="container">
<%= fulltitle %>
<%= author %>
<nav class="list-group">
<%= index %>
</nav>
</header>

<article class="container">
<%= body %>
</article>

<footer class="container">
<%= backlink %>
</footer>

</body>
</html>
